.btnHover {
    background: #32CD32;
    padding: 20px 70px;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.4s ease;
    font-size: 18pt;
    border-radius: 10px;
}

.btnHover:hover{
    background: #32CD99;
    transform: scale(1.1);
}

.faq-container {
    display: flex;
    flex-direction: column; /* 세로 방향으로 정렬 */
    align-items: center; /* 중앙 정렬 */
    width: 100%; /* 전체 너비 */
    margin-top: 20px; /* 상단 여백 */
    margin: auto;
}

.faq-item {
    background: #C2A67E; /* 배경색 */
    border: 1px solid #e2e2e2; /* 테두리 */
    border-radius: 5px; /* 둥근 모서리 */
    width: 80%; /* 너비 조정 */
    margin: 10px 0; /* 항목 간 간격 */
    padding: 15px; /* 내부 여백 */
    transition: background 0.3s; /* 배경색 전환 효과 */
}

.faq-question {
    cursor: pointer; /* 클릭 가능한 요소로 표시 */
    font-size: 16pt; /* 글자 크기 */
    font-weight: bold; /* 글자 두께 */
    margin: 0; /* 기본 마진 제거 */
}

.faq-answer {
    margin-top: 10px; /* 상단 여백 */
    font-size: 14pt; /* 글자 크기 */
    color: #fff; /* 글자 색상 */
}