.weddingItemArticle-container {
    max-width: 1400px; /* 전체 너비를 1400px로 설정 */
    min-height: 300px;
    height: auto;
    margin: 20px auto;
    padding: 20px;
    display: flex; /* Flexbox 사용 */
}

.weddingItemArticle-image-container {
    flex: 2; /* 이미지 div 비율을 2로 설정 */
    margin-right: 20px; /* 오른쪽 div와의 간격 */
    border: 1px solid #ccc; /* 이미지 div에 border 추가 */
    padding: 10px; /* padding 추가하여 여백 설정 */
    background-color: #fff; /* 배경색 추가 */
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
    height: 100%;
}

.weddingItemArticle-image {
    max-width: 100%; /* 이미지의 너비를 부모에 맞춤 */
    height: auto;
    width: 50%;
}

.weddingItemArticle-content {
    flex: 1; /* 내용 div 비율을 1로 설정 */
    border: 1px solid #ccc; /* 내용 div에 border 추가 */
    padding: 10px; /* padding 추가하여 여백 설정 */
    background-color: #fff; /* 배경색 추가 */
}

.weddingItemArticle-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.weddingItemArticle-price {
    font-size: 20px;
    color: #d9534f;
    margin-bottom: 15px;
}

.weddingItemArticle-description {
    font-size: 16px;
    margin-bottom: 20px;
}

.weddingItemArticle-purchase-button {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #99cdff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.weddingItemArticle-purchase-button:hover {
    background-color: #000080;
}

.category-list {
    margin-top: 20px; /* 리스트와 위 요소 간의 간격 */
    text-align: center; /* 리스트 중앙 정렬 */
    border: 1px solid red;
}

.category-list ul {
    list-style-type: none; /* 기본 리스트 스타일 제거 */
    padding: 0; /* 기본 패딩 제거 */
    display: flex; /* 리스트 항목을 가로로 나열 */
    justify-content: center; /* 리스트 항목을 중앙 정렬 */
}

.category-item {
    display: flex; /* Flexbox 사용 */
    flex-direction: column; /* 세로로 나열 */
    align-items: center; /* 수평 중앙 정렬 */
    margin: 0 10px; /* 각 아이템 간의 간격 설정 */
}

.category-item-image {
    width: 200px; /* 이미지의 너비 200px로 설정 */
    height: auto; /* 자동으로 높이 설정 */
    margin-bottom: 5px; /* 이미지와 텍스트 간의 간격 */
}

.category-item-details {
    text-align: center; /* 텍스트 중앙 정렬 */
}
