.mainContainere{
    width: 1400px;
    height: 1327px;
    margin: 0 10px 0px 10px;
    padding: 0px 0;
    background-color: rgba(220, 220, 220, 0.205);
}
.alignGood{
    display: flex;
    justify-content: center;
    align-content: center;
}
.cart-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  .cart-category {
    margin-bottom: 30px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    border-bottom: 1px solid rgba(228, 226, 226, 0.767);
    margin-bottom: 10px;
  }
  .cart-item:hover{
    background-color: rgb(238, 235, 235);
  }
  
  .cart-item input {
    width: 50px;
    text-align: center;
  }
  
  .category-total {
    margin: 10px;
    padding: 10px;
    text-align: right;
    font-weight: bold;
    font-size: 12pt;
  }
  
  .cart-total {
    text-align: center;
    margin-top: 30px;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .order-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  
  .order-button:hover {
    background-color: #0056b3;
  }
  .norder-button {
    display: block;
    width: 100%;
    padding: 15px;
    background-color: #19CE60;
    color: white;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
  }
  .norder-button:hover {
    background-color: green;
  }



.conboxHeader{
    border-top: 1px solid gainsboro;
    margin: 10px;
    padding: 10px;
    font-size: 13pt;
}
.cartConbox{
    border: 1px solid gainsboro;
    margin: 10px;
    padding: 10px;
}
.minusIcnCon{
  position: absolute;
  margin: -7px 0px 0px 916px;
}
.minusIcn{
  width: 20px;
  height: 30px;
  color: rgb(180, 180, 180);
  cursor: pointer;
}
.inppputCon{
  margin-right: 50px;
}
.pidif{
  cursor: pointer;
  transition: all 0.3s ease;
  color: black;
}
.pidif:hover{
  text-decoration: underline;
  color: #0056b3;
  transform: scale(1.05);
}