.content-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.completeBtn {
    background-color: #B22222;
    transition: all .4s ease;
    width:470px;
    height:50px;
    margin:20px 0 40px;
    border:none;
    border-radius:7px;
    cursor: pointer;
    font-size: 14pt;
    color: white;
    font-weight: bold;
}

.completeBtn:hover{
    background-color: red;
}