/* Modal.css */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content1 {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    width: 300px;
}

.modal-content1 .button1 {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #ff6347; /* Tomato color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.modal-content1 button1:hover {
    background-color: #ff4500; /* OrangeRed color */
}
.addToCarrt{
    margin: 11px 11px 11px 63px;
    padding: 10px;
    width: 150px;
    height: 11px;
    border-radius: 10px;
    background-color: #ff6347;
    color: white;
    cursor: pointer;
}
.addToCarrt:hover{
    background-color: #ff4500;
}
.addcarticnSize{
    display: flex;
    font-size: 14pt;
    position: absolute;
    left: 100px;
    top: 190px;
}