

.sdmarticle-item{
    cursor: pointer;
}

.sdmarticle-item img{
    width: 120px; /* 기본 이미지 크기 */
    transition: filter 0.3s; 
}
.sdmarticle-item:hover img  {
    filter: brightness(0.8);
}

.sdmarticle-item .sdmarticlebtn{
    background-color: rgb(50,20,5,50);
    border:none;
    padding: 20px 20px;
    cursor: pointer;
    width: 182px;
    height: 31px;
    margin-top: 19px;
    transition: background-color 0.3s ease;
    text-align: center;
    font-weight: bold;
    color: white; /* 텍스트 색상 설정 */
    border-radius: none; /* 모서리 둥글게 */
    font-size: 22pt;
 
}

.sdmarticle-item .sdmarticlebtn:hover {
    background-color: darkgray; /* 호버 시 배경색 변경 */
}
.sdmarticle-item con-box { width: 1000px; margin: 0 auto; display: flex}
.sdmarticle-item con-box article:nth-child(1){ width: 600px; }
.sdmarticle-item con-box article:nth-child(1) > img { width: 600px; }
.sdmarticle-item con-box article:nth-child(1) ul { display: flex; flex-wrap: wrap; }
.sdmarticle-item con-box article:nth-child(1) ul li { cursor: pointer;}
.sdmarticle-item con-box article:nth-child(1) ul li img { width: 120px;}
.sdmarticle-item con-box article:nth-child(2){ width: 400px; background: beige; padding: 30px;}
.sdmarticle-item con-box article:nth-child(2) h3 { font-size: 25px; margin-bottom: 15px; }
.sdmarticle-item con-box article:nth-child(2) p { font-size: 18px;}