.mainContainer {
    width: 80%; /* 너비를 80%로 조정 */
    max-width: 1400px; /* 최대 너비 유지 */
    margin: 0 auto; /* 수평 가운데 정렬 */
    padding: 20px; /* 패딩 추가 */
    background-color: rgba(220, 220, 220, 0.205);
}

.cartConbox {
    margin: 20px 0; /* 각 주문 항목 사이 여백 추가 */
    padding: 10px; /* 패딩 추가 */
    border: 1px solid gainsboro; /* 테두리 추가 */
}

.myAccHeader {
    text-align: center; /* 제목 가운데 정렬 */
    font-size: 24px; /* 제목 크기 조정 */
    margin-bottom: 20px; /* 제목 아래 여백 추가 */
}

.conBox {
    display: flex; /* 버튼을 가로로 배치 */
    justify-content: space-between; /* 버튼 사이 여백 추가 */
    margin-top: 20px; /* 버튼 위 여백 추가 */
}
